<form action="/square_root/results">
  <label for="number_input">
    Enter a number
  </label>

  <input id="number_input" text="text" name="user_number">

  <button>
    Calculate square root
  </button>
</form>
